<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style-tipos.css}"></link>
</head>
<body>
	<h1 th:text="${titulo1}"></h1>
	<div><a th:href="@{/inmuebles/menu-principal}">Inicio</a></div>
	<!--  <img th:src="@{/img/listado-inmuebles.jpg}" alt="Imagen listado inmuebles"></img>-->
	<br>
	<table>
		<thead>
			<tr>
				<th style="text-align: left;"><strong>Casa</strong></th>
				<th style="text-align: left;"><strong>Apartamento</strong></th>
				<th style="text-align: left;"><strong>Piso</strong></th>
				<th style="text-align: left;"><strong>Chalet</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="inmueble : ${listaInmuebles}">
				<td>
					<a th:href="@{'/inmuebles/referencia/' + ${inmueble.referencia}}">
        				<span th:text="${inmueble.referencia}"></span>
    				</a>
				</td>
				
				<td>
					<a th:href="@{'/inmuebles/dni/' + ${inmueble.dniPropietario}}">
        				<span th:text="${inmueble.dniPropietario}"></span>
    				</a>
				</td>
				<td th:text="${inmueble.tipo}"></td>
				<td th:text="${inmueble.precioEuros}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>