<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style-tipos.css}"></link>
</head>
<body>
	<h1 th:text="${titulo1}"></h1>
	<div>
		<a th:href="@{/inmuebles/menu-principal}">Inicio</a>
	</div>
	<!--  <img th:src="@{/img/listado-inmuebles.jpg}" alt="Imagen listado inmuebles"></img>-->
	<br>
	<div>
		<h3>CASA</h3>
		<a th:href="@{'/inmuebles/tipo/casa'}">
			<img th:src="@{/img/casa.png}" alt="Casa"></img>
		</a>
	</div>
	<div>
		<a th:href="@{'/inmuebles/tipo/Apartamento'}">Apartamento</a>
	</div>
	<div>
		<a th:href="@{'/inmuebles/tipo/Piso'}">Piso</a>
	</div>
	<div>
		<a th:href="@{'/inmuebles/tipo/Chalet'}">Chalet</a>
	</div>
</body>
</html>